<!DOCTYPE html>
<html ng-app ='myApp'>
 <head>
   <meta charset="utf-8">
   <title>pet world weekend 5 project</title>
   <script src="vendors/angular.min.js" type="text/javascript"></script>
   <script src="scripts/script.js" type="text/javascript"></script>
   <link rel="stylesheet" href= "main.css"/>
   <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
 </head>
 <body>
   <h1> Pet World </h1>
     <p> Welcome to Pet World!  Add your please add your pet to the database by inputing their
       name, age, type.<br> If you'd like, you can add a photo by inputting a url.<br>  Then click "Submit my Pet".
       To see all of the pets in the database, click "Show all Pets".
    </p>
 <div ng-controller = 'petController'>
     <h2> Add a Pet </h2>
   <input type= "text" ng-model= "petNameBinder" value= "" placeholder="pet's name" required>
   <input type= "text" ng-model= "typeBinder" value= "" placeholder="type of pet" required>
   <input type= "text" ng-model= "ageBinder" value= "" placeholder="pet's age" required>
   <input type= "text" ng-model= "photoBinder" value="" placeholder="pet photo url">
   <button type="button" name="button" ng-click= "addPet()" >Submit my Pet</button>
   <h2>Display Pets</h2>
   <button type="button" name="button" ng-click= "getPets()" >Show all Pets</button>
   <ul>
     <li ng-repeat='record in allPets'><b>Pet's Name:</b> {{ record.pet_name}} <b> Type of Pet: </b> {{ record.type}} <b> Pet's Age:<b> {{ record.age}} <br> <img ng-src="{{record.photo}}" alt="{{record.pet_name}}'s photo'" /></li>
   </div>

 </body>
</html>
